body{
    text-align: center;
    background-color: black;
}
.login{
    height: 20rem;
    width: 20rem;
    border:2px solid aliceblue;
    margin : 250px auto;
    padding:5px 0 0 0;
    box-shadow: 0 5px 20px aliceblue;
    background-color: purple;
    border-radius: 5px;
}
#user,#pass,button{
    border-radius: 100px;
    text-align: center;
    background-color: purple;
    color: black;
    box-shadow: 2px 2px 10px aliceblue;
    opacity:0.7;    
}

button:hover{
    opacity:1;
}

#user:hover{
    opacity: 1;
}

#pass:hover{
    opacity:1;
}
